*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.form{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 10px;

}
.form-item{
    width: 50%;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid rgba(231, 221, 221, 0.959);
    box-shadow: 4px 12px 4px 2px rgba(231, 221, 221, 0.781);
}
.txtuser,.txtpassword,.txtnombre,.txtapellido,.txtemail, .txtpasswordconfir{
    min-width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 1s all;
    background-color: #f5f5dc;
} 
.txtuser:focus,.txtpassword:focus,.txtnombre:focus,.txtapellido:focus,.txtemail:focus,.txtpasswordconfir{
border: 1px solid #f5f5dc;
outline: none !important;
}
.btn{
    padding: 12px 10px;
    border: none;
    background-color: #b97c37;
    color: white;
    border: 1px solid #a37746;
    border-radius: 10px;
    font-size: 15px;
    transition: .5s all;
}
.btn:hover{
    background-color: #cc812c;
    color: rgb(223, 213, 213);
}
input:focus::placeholder , textarea:focus::placeholder {
    color: transparent;
}

.form-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
.form-link a:hover{
    color: #363030;
}
.form-link a{
    text-decoration: none;
    color: #4d4343;
}
input[type="number"]
{
-webkit-appearance: textfield !important;
-moz-appearance:textfield !important;
}


/* REGISTER */
.grid-register{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(4, 35px) 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.titulo{
    grid-column: 1 / 4;
    text-align: center;
}
.txtnombre{
    grid-column: 1 / 2;
}
.txtapellido{
    grid-column: 2 / 4;
}
.txtemail{
    grid-column: 1 /2;
}
.txtuser{
    grid-column: 2 / 4  ;
}
.txtpassword{
    grid-column: 1 / 2;
}
.txtpasswordconfir{
    grid-column: 2 / 4;
}
.btn-enviar{
    grid-column: 1 / 4;
}

/* REGISTRO DE PROYECTO */
.nombreProyecto,.descripcion,.enlaceGithub,.enlaceWeb,.lenguajes{
    min-width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 1s all;
    background-color: #f5f5dc;
} 
.nombreProyecto:focus,.descripcion:focus,.enlaceGithub:focus,.enlaceWeb:focus{
border: 1px solid #f5f5dc;
outline: none !important;
}
.grid-proyecto{
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem;
}
.nombreProyecto{
    grid-column: 1 / 2;
}
.fileimage{
    display: flex;
    justify-content: left;
    align-items: center;
    grid-column: 2 / 4;
}
.file{
    display: none;
}
.fileimage label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f5f5dc;
    width: 5rem;
    height: 2rem;
    color: #5c5b59;
    cursor: pointer;
    transition: 1s ease;
}
.fileimage label:hover{
    color: #000;
    background-color: #f0f0e8;
}
.enlaceGithub{
    grid-column: 1 / 2;
}
.enlaceWeb{
    grid-column: 2 / 4;
}
.descripcion{
    grid-column: 1 / 2;
    max-width: 18rem;
    min-width: 18rem;
    max-height: 10rem;
    min-height: 10rem;
}
.lenguajes{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}
.nombreLenguaje{
    display: flex;
    flex-direction: column;
    gap: 12px;
    grid-column: 1 / 2;
    color: #5c5b59;
}
.valores{
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-column: 2 / 4;
}
.btn-registrar{
    grid-column: 1 / 4;
}

/* SELECTORES */
.selector{
    border: none;
    background-color: #b97c37;
    color: white;
    border: 1px solid #a37746;
    border-radius: 5px;
    transition: 1s all;
}
/* OPCIONES */

.selector:hover{
    background-color: #c2853f;
}

/* MQ */
@media screen and (max-width: 725px) {

    .form-item{
    width: 90%;
    }
    .txtuser,.txtpassword{
    min-width: 70%;
    }
}

